<div class="table-container">
  <ibm-table-container>
    <!-- ✅ Agregar el título y subtítulo -->
    <ibm-table-header>
      <h4 cdsTableHeaderTitle>{{ title }}</h4>
      <p cdsTableHeaderDescription>{{ subtitle }}</p>
    </ibm-table-header>
    <ibm-table-toolbar>
      <ibm-table-toolbar-content>
        <cds-table-toolbar-search [expandable]="true" class="custom-action-btn"></cds-table-toolbar-search>
        <button cdsButton="ghost" size="sm" class="custom-action-btn">
          <svg [attr.width]="16" [attr.height]="16" [innerHTML]="editIconHtml" size="16" class="cds--btn__icon"></svg>
        </button>
        <button cdsButton="ghost" class="toolbar-action custom-action-btn">
          <svg
            ibmIcon="settings"
            size="16"
            class="cds--btn__icon"
          ></svg>
        </button>
        <button ibmButton="primary" size="sm">
          Agregar
          <svg ibmIcon="add" size="20" class="cds--btn__icon"></svg>
        </button>
      </ibm-table-toolbar-content>
    </ibm-table-toolbar>
  
    <ibm-table
      [model]="tableModel"
      [showSelectionColumn]="false"
      [size]="'lg'"
      [striped]="false"
      [sortable]="true"
      [enableSingleSelect]="false">

    </ibm-table>

    <!-- ✅ Plantilla `customCell` para los botones de acciones -->
    <ng-template #customCell let-row>
      <button ibmButton="ghost" size="sm" class="custom-action-btn" (click)="edit(row)">
        <svg [attr.width]="16" [attr.height]="16" [innerHTML]="editIconHtml"></svg>
      </button>
      <button ibmButton="danger--ghost" size="sm" class="custom-action-btn" (click)="delete(row)">
        <svg [attr.width]="16" [attr.height]="16" [innerHTML]="trashIconHtml"></svg>
      </button>
    </ng-template>

  
    <!-- PAGINACIÓN -->
    <ibm-pagination
      [model]="tableModel"
      (selectPage)="selectPage($event)">
    </ibm-pagination>
    
  </ibm-table-container>
</div>
