<div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="mb-3">
          <label for="locationName" class="form-label">Nombre de la ubicación</label>
          <input type="text" class="form-control" id="locationName" [(ngModel)]="locationName">
        </div>
        
        <div class="mb-3">
          <label for="latitude" class="form-label">Latitud</label>
          <input type="text" class="form-control" id="latitude" [(ngModel)]="latitude" readonly>
        </div>
        
        <div class="mb-3">
          <label for="longitude" class="form-label">Longitud</label>
          <input type="text" class="form-control" id="longitude" [(ngModel)]="longitude" readonly>
        </div>
      </div>
      
      <div class="col-md-7">
        <p>Ubicación en mapa. Haz clic en cualquier parte del mapa para colocar un pin</p>
        <div id="map" style="height: 300px;"></div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center gap-3">
        <button class="btn btn-primary" (click)="saveLocation()">Guardar</button>
        <button class="btn btn-secondary" (click)="cancel()" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>