body {
    min-height: 600px;
    background-image: url('assets/images/103.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

/* Estilo para los links del dropdown */
.dropdown-item {
    color: #3A6FC1 !important; /* Color normal - el color anterior que vimos */
  }
  
  /* Estilo para hover en los links del dropdown */
  .dropdown-item:hover {
    color: #054ADA !important; /* Color exacto de hover que muestras */
    background-color: rgba(5, 74, 218, 0.1); /* Fondo sutil */
  }
  
  /* Estilo para el dropdown toggle cuando está activo/hover */
  .nav-link.dropdown-toggle:hover,
  .nav-link.dropdown-toggle:focus {
    color: #054ADA !important;
  }

  .container-bg {
    background-color: rgba(124, 121, 121, 0.85); /* Color equivalente a #7c7979d9 */
    min-height: 100vh; /* Ocupa toda la pantalla */
    padding: 20px;
  }  
  .card-custom {
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para realzar el contenido */
    border-radius: 10px;
    padding: 20px;
  }
  
  .table th {
    background-color: #4a90e2; /* Color azul en la cabecera */
    color: white;
  }
  
  .pagination-container {
    background-color: #4a90e2; /* Color azul en la paginación */
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
  }